/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(500px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animates element with fadeInUp animation */
.fadeInUp {
    opacity: 0; /* Start with the element hidden */
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: forwards; /* Keep the end state of the animation */
}

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* Basic styling */
html,
body,
.Container {
    height: 100%;
    font-family: "Outfit", sans-serif;
}

/* Body background color */
body {
    background-color: #FFF;
}

/* Styling for links */
a:link,
a:hover,
a:visited {
    text-decoration: none;
    color: #000;
}

/* Paragraph styling */
p {
    color: #000;
    font-family: "Outfit", sans-serif;
    font-size: 1.2rem;
}

/* Half Page layout */
.Container:before {
    content: '';
    height: 100%;
    float: left;
}

.Content {
    position: relative;
    z-index: 1;
}

.Content:after {
    content: '';
    clear: both;
    display: block;
}

.Wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #000;
    background-color: #f000;
}

.LeftContent {
    float: left;
    margin: 0;
    padding: 0;
}

.RightContent {
    overflow: auto;
}

/* Media query for larger screens */
@media (min-width: 1200px) {
    .Wrapper>div {
        height: 100%;
    }
}

/* Styling for split images */
.split-image-left {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.split-image-right {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

/* Signature styling */
.signature {
    padding-top: 2rem;
    height: 6rem;
}

/* Styling for contact form */
.contact-form .btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.contact-form .form-control {
    color: #000;
    background-color: transparent;
    border-color: #000;
    border-width: 0 0 2px 0;
    border-radius: 0;
    border-style: solid;
    font-size: 1.5rem;
}

.form-control::-webkit-input-placeholder {
    color: #000;
    opacity: 0.6;
}

.form-control {
    padding: 1.5rem 16rem 1.5rem 0.75rem;
}

.contact-form .btn {
    padding: 0.8rem 4rem;
    border-radius: 5px;
}
